<div class="container">   
<% if !@file_storage.errors.empty? %>   
   <div>   
         
      <ul>   
         <% @file_storage.errors.full_messages.each do |msg| %>   
            <li><%= msg %></li>   
         <% end %>      </ul>   
         
   </div>   
<% end %>   
  
<div>   
   <%= form_for @file_storage, html: { multipart: true } do |f| %>   
      <%= f.label :name %>   
      <%= f.text_field :name %>   
      <br><br>   
      <%= f.label :attachment %>   
      <%= f.file_field :attachment %>   
      <br>   
      <%= f.submit "Save" %>   
   <% end %>   
</div>   

<div class="container">
 
 
 
<div class="row">
 
        <div class="col-md-3">
 
            <a href="#" class="btn btn-effets btn-primary "><span>Download</span></a>
 
        </div>
 
 
 
        <div class="col-md-6">
 
            <a href="#" class="btn btn-effets btn-primary btn-block"><span>Download</span></a>
 
        </div>
 
 
 
        <div class="col-md-3">
 
            <a href="#" class="btn btn-effets btn-primary btn-lg"><span>Download</span></a>
 
        </div>
 
    </div>
 
 
</div>
</div>  