<div class="container bg-light w-25">   
   <% if !@file_storage.errors.empty? %>   
      <div>   
            
         <ul>   
            <% @file_storage.errors.full_messages.each do |msg| %>   
               <li><%= msg %></li>   
            <% end %>      </ul>   
            
      </div>   
   <% end %>   

   <h2>New Book</h2>
   <%= form_for @file_storage, html: { multipart: true } do |f| %>   
      <div class="form-group">
         <%= f.label :name %>   
         <%= f.text_field :name, class: "form-control" %>   
      </div>
      <div class="form-group">
         <%= f.label :attachment %>   
         <%= f.file_field :attachment, class: "form-control" %>  
      </div>
      <div class="form-group">
         <%= f.submit "Save", :class => " btn btn-primary" %>   
      </div>       
   <% end %>   

   <%= link_to "Turn back to book list", "/file_storages", :method => :get, class: "btn btn-secondary" %>
</div>  